<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>result </h1>
    <!-- food.nutrients -->
    <div>
        <h2>You Will Achive This Amount by using our male
            plan </h2>
            <br>
            <ul>
                <li> Your Targeted Calories: <%= food.nutrients.calories %></li>
                <li> Protein : <%=food.nutrients.protein %> </li>
                <li> Fat: <%=food.nutrients.fat %></li>
                <li> Carbs: <%=food.nutrients.carbohydrates %></li>
            </ul>
    </div>
    
    <section>

        <% food.meals.forEach((val) => { %>

            <div>
                <ul>
                    <li> Meal Name: <%= val.title %></li>
                    <li> Ready in minutes: <%= val.readyInMinutes %> </li>
                    <li> Serving: <%= val.servings %> </li>
                    <img src="https://spoonacular.com/recipeImages/<%=val.imageUrls[0]%>" alt="<%= val.imageUrls[1] %>" srcset="">
                </ul>
            </div>



        <% }) %>
    </section>


</body>
</html>